{% extends 'projecto2/base.html' %}
{% block cssLink %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'projecto2/css/estilos.css' %}">
{% endblock  %}

{% block header %}

        <h1>LoJa OnLine</h1>
        <div>
            <div class="comprar">
                <a href="/" class="botomCompra">COMPRAR</a>
                <div class="menuCompra">
                    <a href="{% url 'projecto2:computador'  %}">Computadores</a>
                    <a href=" {% url 'projecto2:telefone' %}">Telemóveis</a>
                    <a href=" {% url 'projecto2:tablet' %} ">Table</a>
                </div>
            </div>

            <div>
            <a href="/" class="botomCompra">Sobre</a>
            <div class="menuCompra">
            <a href="{% url 'projecto2:informacao' %}">Informação</a>
            <a href="{% url 'projecto2:sobre' %}">Sobre</a>
            <a href="{% url 'projecto2:contacto' %}">Contacto</a>
        </div>
        </div>
{% endblock  %}


{% block aside %}
    <nav>
            <input type="checkbox" id="n">
            <label class="menu" for="n">Menu</label>
            <ul class="janelaMenu">
                <li><a href="{% url 'projecto2:computador' %}">Computadores</a></li>
                <li><a href=" {% url 'projecto2:telefone' %}">Telemóveis</a></li>
                <li><a href="{% url 'projecto2:tablet' %} ">Tablet</a></li>
            </ul>
    </nav>
{% endblock  %}


{% block main %}

<section>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    {% load static %}
                    <img src="{% static 'projecto2/images/fun.jpeg' %}">
                    <p>ASUS <br> 1600€
                    </p>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc2.jpeg'%}">
                    <p>
                        Computador Portátil Cenava P151
                        <br> 1100€
                    </p>
                </a>

            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc3.jpeg'%}">
                    <p>
                        HP · All in one
                        <br> 560€
                    </p>
                </a>

            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc4.jpeg'%}">
                    <p>
                        Windows · 10,1 polegada
                        <br> 1720€
                    </p>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc5.jpeg'%}">
                    <p>
                        Acer · Acer Spin · Windows
                        <br> 1590€
                    </p>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc6.jpeg'%}">
                    <p>HP · Windows · 14 polegadas <br> 890€</p>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc7.jpeg'%}">
                    <P>HP · HP Pavilion <br> 870€</P>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc8.jpeg'%}">
                    <P>Innjoo Voom 4 <br> 800€</P>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc9.jpeg'%}">
                    <P>Windows · Gamer <br> 600€ </P>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc10.jpeg'%}">
                    <P>Windows · 11,6 polegadas <br> 1000€</P>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc11.jpeg'%}">
                    <P>HP <br> 400€</P>
                </a>

            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc12.jpeg'%}">
                    <P>Acer <br> 300€</P>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc13.jpeg'%}">
                    <p>Xiaomi <br> 1600€</p>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc14.jpeg'%}">
                    <P>PC HP <br> 800€</P>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc15.jpeg'%}">
                    <p>Samsung <br> 1110€</p>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc7.jpeg'%}">
                    <p>Gamer <br> 1500€</p>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc16.jpeg'%}">
                    <p>Mackbook <br> 1240€</p>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc17.jpeg'%}">
                    <p>Mackbook <br> 1900€</p>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/images-15.jpeg'%}">
                    <p>Mackbook <br> 1280€</p>
                </a>
                </div>
            <div>
                <a href="{% url 'projecto2:encomenda'%}">
                    <img src="{% static 'projecto2/images/pc18.jpeg'%}">
                    <p>Mackbook <br> 1510€</p>
                </a>
            </div>

        </section>

{% endblock  %}

{% block footer %}

{% endblock  %}