{% extends 'projecto2/base.html' %}


{% block cssLink %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'projecto2/css/informacao.css' %}">
{% endblock  %}

{% block main %}
       <div>
           <h1>Quem Somos</h1>
           
           <p>A LoJaOnLine é a plataforma de e-commerce líder na América Latina. Com mais de 80 mil lojas ativas, ela integra produtos, pagamentos e envios com diferentes canais de vendas, como Facebook, Instagram, marketplaces e lojas físicas.
            Graças à sua tecnologia, a LoJaOnLine se adapta a cada tipo de negócio de formas diferentes, permitindo que o layout das lojas sejam únicos e dando a possibilidade de instalar aplicações e de integrar desenvolvimento à medida. Tudo isso é feito com o acompanhamento de uma excelente equipe de atendimento ao cliente.</p>
       </div>
       <div>
           <h1>História</h1>
           <h2>2021</h2>
           
           <p>LoJaOnLine recebe nova rodada de investimento de R$ 500 milhões, liderada pelo fundo global Accel Partners, investidor internacional de empresas, como Facebook, Slack e Spotify. Além disso, participaram ThornTree Capital, Kaszek Ventures, Qualcomm Ventures e Kevin Efrusy.</p>
           <h2>2020</h2>
            <p>LoJaOnLine recebe nova rodada de investimento de cerca de R$ 170 milhões, liderada pelos fundos Qualcomm Ventures e Kaszek Ventures, com participação de FJ Labs, IGNIA, Elevar Equity e de um novo investidor, Kevin Efrusy, sócio emérito da Accel Partners
                LoJaOnLine recebe pela terceira vez o prêmio de "Melhor Plataforma" de e-commerce pela ABComm (Associação Brasileira de Comércio Eletrônico) e Alejandro Vázquez, CCO e cofundador da empresa, é reconhecido novamente entre os quatro "Melhores Profissionais de E-commerce do País.</p>
        
                <p>LoJaOnLine recebe pela terceira vez o prêmio de "Melhor Plataforma" de e-commerce pela ABComm (Associação Brasileira de Comércio Eletrônico) e Alejandro Vázquez, CCO e cofundador da empresa, é reconhecido novamente entre os quatro "Melhores Profissionais de E-commerce do País.
                    Lançamento da LoJaOnLine no México
                    Quantidade de lojas saltou de 30 mil para mais de 70 mil em um ano, enquanto volume de colaboradores cresceu de 150 para mais de 360.
                    Pequenas e médias empresas têm faturamento histórico superior a R$ 5 bilhões na América Latina</p>
        </div>

        <div>
            <h2>2019</h2>
            <p>Em maio, a empresa conclui um processo de rebranding e lança sua nova identidade visual.
                O lançamento da API de shipping abre as portas para todos os integradores de logística, facilitando os envios para os clientes da LoJaOnLine e potencializando o ecossistema de comércio eletrônico local
                A equipe LoJaOnLine cresce e passa a ter +150 membros, expandindo as equipes de produto, marketing e comercial.
                A LoJaOnLine recebe o prêmio de melhor plataforma de e-commerce para ABComm (Associação Brasileira de Comércio Eletrônico) e o Prêmio ABComm de Inovação Digital 2019 para nosso CCO, Alejandro Vázquez.</p>
        </div>
{% endblock %}