{% extends 'projecto2/base.html' %}

{% block header %}

    <h1>LoJa OnLine</h1>
    <div>
        <div class="comprar">
            <a href="/" class="botomCompra">COMPRAR</a>
            <div class="menuCompra">
                <a href=" {% url 'projecto2:computador' %} ">Computadores</a>
                <a href="{% url 'projecto2:telefone' %}">Telemóveis</a> 
                <a href="{% url 'projecto2:tablet' %}">Tablet</a>
            </div>
        </div>

        <div>
            <a href="/" class="botomCompra">Sobre</a>
            <div class="menuCompra">
            <a href="{% url 'projecto2:informacao' %}">Informação</a>
            <a href="{% url 'projecto2:sobre' %}">Sobre</a>
            <a href="{% url 'projecto2:contacto' %}">Contacto</a>
        </div>
        </div>

    </div>
{% endblock  %}



{% block aside %}
    <nav>
            <input type="checkbox" id="n">
            <label class="menu" for="n">Menu</label>
            <ul class="janelaMenu">
                <li><a href="{% url 'projecto2:computador' %}">Computadores</a></li>
                <li><a href="{% url 'projecto2:telefone' %}">Telemóveis</a></li> 
                <li><a href="{% url 'projecto2:tablet' %}">Table</a></li>
            </ul>
        </nav>
{% endblock  %}



{% block main %}
    <br>
    <br>
    <section>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t2.jpeg' %} " alt="">
                    <p>
                        Iphone 1100€
                    </p>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t3.jpeg' %} " alt="">
                    <p> 
                        LG 100€
                    </p>
                </a>
                
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t14.jpeg' %} " alt="">
                    <p>
                        HUAWEI P40  1001€
                    </p>
                </a>
                
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t5.jpeg' %} " alt="">
                    <p>
                        HUAWEI  800€
                    </p>
                </a>   
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t6.jpeg' %} " alt="">
                    <p>
                        IPHONE 1100€
                    </p>
                </a> 
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t7.jpeg' %} " alt="">
                    <p>IPHONE 1400€</p>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t8.jpeg' %} " alt="">
                    <P>IPHONE 1800€</P>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t9.jpeg' %} " alt="">
                    <P>Samsung 1000€</P>
                </a>    
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t10.jpeg' %} " alt="">
                    <P>LG 500€</P>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t11.jpeg' %} " alt="">
                    <P>XIAOMI 200€</P>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t12.jpeg' %} " alt="">
                    <P>IPHONE 900€</P>
                </a>
                
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t13.jpeg' %} " alt="">
                    <P>HOLOS 400€</P>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t14.jpeg' %} " alt="">
                    <p>HUAWEI 560€</p>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t15.jpeg' %} " alt="">
                    <P>Samsung 420€</P>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t16.jpeg' %}" alt="">
                    <p>LG 760€</p>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t17.jpeg' %}" alt="">
                    <p>IPhone 1500€</p>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t5.jpeg' %} " alt="">
                    <p>LG</p>
                </a>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t19.jpeg' %}" alt="">
                    <p>Nokia 300€</p>
                </a>
            </div>
            <div>
                {% load static %}
                <img src=" {% static './projecto2/images/t21.jpeg' %}" alt="">
                <p>Samsung 700€</p>
            </div>
            <div>
                <a href="{% url 'projecto2:encomenda' %}">
                    {% load static %}
                    <img src=" {% static './projecto2/images/t2.jpeg' %} " alt="">
                    <p>IPhone 1300€</p>
                </a>
            </div>
            
        </section>
{% endblock  %}

